@import './globals.css';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.outline-text {
  text-shadow: 0px -1px 1px black,
    -1px 0px 1px black,
    0px 1px 1px black,
    1px 0px 1px black !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: hsl(var(--card));
  border: 1px solid hsl(var(--border)); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(var(--secondary)); 
  /* box-shadow: inset 0 0 5px rgba(49, 255, 186, 10);   */
  border-radius: 10px;
  border: 1px solid hsl(var(--card-dim)); 

  /* bg-primary border text-white border-primary-glow  shadow hover:border-primary-glow/70  hover:bg-primary-dim */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border: 1px solid hsl(var(--primary)); 
  transition: all 0.3s ease;
}


.animate-bg {
  animation: animate-background 2.5s ease-in infinite;
  color: white;

}

/* rainbow background color animator */
@keyframes animate-background {
  0% {
    background-color: #ff0000;
  }

  10% {
    background-color: #ff8000;
  }

  20% {
    background-color: #ffff00;
  }

  30% {
    background-color: #80ff00;
  }

  40% {
    background-color: #00ff00;
  }

  50% {
    background-color: #00ffff;
  }

  60% {
    background-color: #00ff00;
  }

  70% {
    background-color: #80ff00;
  }

  80% {
    background-color: #ffff00;
  }

  90% {
    background-color: #ff8000;
  }

  100% {
    background-color: #ff0000;
  }
}